.selected-line {
  font-family: "monospace";
  font-size: 12px;
}

.fileTreeChildren::-moz-tree-cell-text {
  font-family: "Sans";
}

.fileTreeChildren::-moz-tree-cell(deletedLine) {
  background-color: #FFF0F0;
}

.fileTreeChildren::-moz-tree-cell-text(deletedLine) {
  color: #FF0000;
}

.fileTreeChildren::-moz-tree-cell-text(changedLine) {
  color: #0000FF;
}

.fileTreeChildren::-moz-tree-cell(changedLine) {
  background-color: #F0F0FF;
}

.fileTreeChildren::-moz-tree-cell(missingLine) {
  background-image: url("chrome://visualdiffer/skin/empty.png");
}

.fileTreeChildren::-moz-tree-cell(selected) {
  background-color: #CCFFCC;
}

.fileTreeChildren::-moz-tree-cell(addedLine) {
  background-color: #FFF0F0;
}

.fileTreeChildren::-moz-tree-cell-text(addedLine) {
  color: #FF0000;
}

.fileTreeChildren::-moz-tree-row(selected) {
  border: 1px dotted #000000;
}

.fileTreeChildren::-moz-tree-cell-text(sameLine) {
  color: #000;
}

.fileTreeChildren::-moz-tree-cell-text(lineNumber) {
  color: #000;
}