.selected-line {
  font-family: "monospace";
  font-size: 12px;
}

.fileTreeChildren::-moz-tree-cell-text {
  font-family: "Sans";
}

.fileTreeChildren::-moz-tree-cell(deletedLine) {
  background-color: #FFF0F0;
}

.fileTreeChildren::-moz-tree-cell-text(deletedLine) {
  color: #FF0000;
}

.fileTreeChildren::-moz-tree-cell-text(changedLine) {
  color: #0000FF;
}

.fileTreeChildren::-moz-tree-cell(changedLine) {
  background-color: #F0F0FF;
}

.fileTreeChildren::-moz-tree-cell(missingLine) {
  background-image: url("chrome://visualdiffer/skin/empty.png");
}

.fileTreeChildren::-moz-tree-cell(selected) {
  background-color: #CCFFCC;
}

.fileTreeChildren::-moz-tree-cell(addedLine) {
  background-color: #FFF0F0;
}

.fileTreeChildren::-moz-tree-cell-text(addedLine) {
  color: #FF0000;
}

.fileTreeChildren::-moz-tree-row(selected) {
  border: 1px dotted #000000;
}

.fileTreeChildren::-moz-tree-cell-text(sameLine) {
  color: #000;
}

.fileTreeChildren::-moz-tree-cell-text(lineNumber) {
  color: #000;
}

.filethumbnail {
  left: 10px;
  width: 20px;
  height: 200px;
  border-style: solid;
  border-width: 1px;
  z-index: 3;
  position: absolute;
}

.thumb-diff {
  color: red;
  left: 0px;
  width: 18px;

  z-index: 2;
  position: absolute;
}

.thumb-visible-area {
  color: white;
  background-color: white;
  left: -4px;
  width: 22px;

  z-index: 1;
  position: absolute;
}

filethumbnail {
  -moz-binding: url('chrome://visualdiffer/content/xbl/filethumbnail.xml#filethumbnail')
}
