#filename {
  width: 20em;
}

#filesize {
  text-align: right;
}

#filetime {
}

.folderTreeChildren::-moz-tree-cell-text {
  font-family: "Sans";
}

.folderTreeChildren::-moz-tree-cell-text(changedFile) {
  color: #FF0000;
}

.folderTreeChildren::-moz-tree-cell-text(addedFile) {
  color: #0000FF;
}

.folderTreeChildren::-moz-tree-cell-text(olderFile) {
  color: #808080;
}

.folderTreeChildren::-moz-tree-cell-text(sameFile) {
  color: #000;
}

.folderTreeChildren::-moz-tree-cell-text(folder) {
  color: #000;
}

.folderTreeChildren::-moz-tree-cell-text(subfoldersSize) {
  color: #AAA;
}

/* little hack to hide the twisty */
.folderTreeChildren::-moz-tree-twisty {
  margin-left: -2px;
  list-style-image: none;
  width: 0px;
}

.folderTreeChildren::-moz-tree-row(odd) {
  background-color: #F0F8F0;
}

.folderTreeChildren::-moz-tree-row(even) {
  background-color: #FFF;
}

.folderTreeChildren::-moz-tree-row(selected) {
  background-color: #CCFFCC;
}

.folderTreeChildren::-moz-tree-row(current) {
  border: 1px dotted #000;
}

.folderTreeChildren::-moz-tree-line(FileIsNull) {
  visibility: hidden;
}

.filter {
  list-style-image: url("chrome://visualdiffer/skin/filter.png");
}

.disable-filter[checked="true"] {
  list-style-image: url("chrome://visualdiffer/skin/disable-filter-checked.png");
}

.disable-filter {
  list-style-image: url("chrome://visualdiffer/skin/disable-filter.png");
}

.comparison {
  list-style-image: url("chrome://visualdiffer/skin/comparison.png");
}

.save {
  list-style-image: url("chrome://visualdiffer/skin/save.png");
}

.collapseallfolders {
  list-style-image: url("chrome://visualdiffer/skin/collapse-folders.png");
}

.expandallfolders {
  list-style-image: url("chrome://visualdiffer/skin/expand-folders.png");
}